.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  line-height: 1;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Size variants */
.small {
  width: 16px;
  height: 16px;
}

.medium {
  width: 20px;
  height: 20px;
}

.large {
  width: 24px;
  height: 24px;
}

.xlarge {
  width: 32px;
  height: 32px;
}
